.cm-holder {
  position: fixed;
  visibility:  hidden;
  z-index: 98;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0);
}

.cm-menu {
  width: 180px;
  border-radius: 2px;
  position: absolute;
  visibility: inherit;
  background: white;
  border: 1px solid lightgray;
  z-index: 99;
  padding: 1px;
  box-shadow: 4px 4px 3px -3px #000a;
  user-select: none;
  outline: none !important;
}

.cm-item {
  font-size: 12px;
  color: #444;
  padding: 7px 8px 7px 16px;
}

.cm-item:hover {
  background: lightgray;
}
