@media(hover: none) {
  .fb-splitter {
    width: 15px !important;
  }
}

#musicbrowser {
  font-size: 16px;
}

.fb-dragimage {
  width: 300px;
  height: 150px;
  top: -500px;
  background: blue;
  position: fixed;
}

.fb-splitter {
  width: 3px;
  background: #ccc;
  border-style: solid;
  border-color: #444;
  border-width: 0 1px;
  cursor: col-resize;
  margin-left: 1px;
  margin-right: 1px;
  touch-action: none;
}

.fb-selection-rect {
  position: absolute;
  background-color: rgba(20, 137, 189, 0.5);
}

.fb-tree {
  overflow-y:auto;
  flex-grow: 1;
  padding-left: 30px;
  margin-top: 4px;
  margin-bottom: 0;
}

.fb-tree ul {
  padding-left: 20px; /* indent of each tree level */
}

.fb-tree li {
  display: block; /* remove bullet point from list */
  position: relative;
}

.fb-tree summary {
  display: block; /* delete the default triangle expander */
  cursor: pointer;
  width: max-content;
  padding: 2px 6px 2px 6px;
  margin-left: 2px;
  color: #222;
  font-weight: bold;
}

.fb-tree summary:hover {
  color: #fff;
  background: #444;
  border-radius: 50vh;
  /*border-color: transparent;*/
}

.fb-tree summary::before {
  content: '';
  top: 2px;
  left: -20px;
  width: 19px;
  height: 19px;
  display: block;
  position: absolute;
  background: #ccc8;
  border-radius: 50%;
  border-color: transparent;
}

.fb-tree summary:has(+ ul:not(:empty))::before {
  background: #44f8;
  border-radius: 50vh;
  border-color: transparent;
}

.fb-tree details[open] > summary:has(+ ul:not(:empty))::before {
  background: #00f8;
}

summary.fb-droptarget,
.fb-direntry.fb-droptarget,
.fb-fileentry.fb-droptarget {
  color: #fff;
  background: #696;
  border-radius: 50vh;
  box-shadow: 0 0 0 2px #696;
}

summary.fb-droptarget.fb-selected,
.fb-direntry.fb-droptarget.fb-selected,
.fb-fileentry.fb-droptarget.fb-selected {
  color: #fff;
  background: #696;
  border-radius: 50vh;
  box-shadow: 0 0 0 30px #cceeff;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 50%)
}

.fb-fileslist.fb-droptarget {
  box-shadow: inset 0 0 0 3px #696;
}

.fb-treediv > ul.fb-droptarget,
details > ul.fb-droptarget {
  box-shadow: inset 0 0 0 3px #696;
}

.fb-treerootpath {
  padding: 2px;
  font-weight: bold;
  font-size: larger;
  border-bottom: 1px solid #888;
  overflow: hidden;
  white-space: nowrap;
  min-height: 21px;
  max-height: 21px;
  margin: auto 5px auto 5px;
}

.fb-dirpath {
  padding: 2px;
  font-weight: bold;
  font-size: larger;
  border-bottom: 1px solid #888;
  overflow: hidden;
  white-space: nowrap;
  min-height: 21px;
  max-height: 21px;
}

.fb-crumb {
  color: blue;
  cursor: pointer;
  display: inline-block;
}

.fb-crumb.fb-droptarget {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.fb-fileentry {
  cursor: pointer;
  padding: 2px 5px 2px 5px;
  width: max-content;
  margin-left: 1px;
}

.fb-fileentry:hover:not([contenteditable="true"]) {
  color: #fff;
  background: #444;
  border-radius: 50vh;
}

.fb-fileentry.fb-selected {
  color: #000;
  background: #cceeff;
}

.fb-fileentry.fb-selected:hover:not([contenteditable="true"]) {
  color: #fff;
  background: #6578e9;
  border-radius: 50vh;
  box-shadow: 0 0 0 30px #cceeff;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 50%)
}

.fb-direntry {
  cursor: pointer;
  padding: 2px 5px 2px 5px;
  font-weight: bold;
  width: max-content;
  margin-left: 1px;
}

.fb-direntry:hover:not([contenteditable="true"]) {
  color: #fff;
  background: #444;
  border-radius: 50vh;
  border-color: transparent;
}

.fb-direntry.fb-selected {
  color: #000;
  background: #cceeff;
}

.fb-direntry.fb-selected:hover:not([contenteditable="true"]) {
  color: #fff;
  background: #6578e9;
  box-shadow: 0 0 0 30px #cceeff;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 50%)
}

.fb-treediv {
  display: flex;
  flex-direction: column;
  float: left;
  background: #fff;
  min-width: 15%;
  max-width: 85%;
  width: 30%;
  height: 100%;
  overflow-y:auto;
  user-select: none;
}

.fb-filesdiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  float: left;
  background: #fff;
  height: 100%;
  margin-left: 2px;
  overflow-x:auto;
  user-select: none;
}

.fb-fileslist {
  position: relative;
  height: 100%;
  margin-top: 4px;
  overflow-y:auto;
  flex-grow: 1;
}

.fb-playertitle {
  color: #fff;
  height: 30px;
  padding: 10px 8px 6px 8px;
  white-space: nowrap;
  overflow: auto;
  text-align: left;
  scroll-behavior: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.fb-playertitle::-webkit-scrollbar {
  display: none;
}

.fb-player {
  position: absolute;
  width: 300px;
  height: 100px;
  left: 50%;
  top: 75%;
  background: #000;
  border: none;
  border-radius: 37px;
  padding: 10px;
  transform: translate(-50%, -50%);
}

.dropinfo-holder {
  position: fixed;
  visibility:  hidden;
  z-index: 98;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0);
}

.dropinfo {
  width: 350px;
  height: 150px;
  top: calc(100% / 2 - 75px);
  left: calc(100% / 2 - 150px);
  border-radius: 2px;
  position: relative;
  visibility: inherit;
  background: white;
  border: 1px solid lightgray;
  z-index: 99;
  padding: 1px;
  box-shadow: 3px 3px 10px 0px #0008;
  user-select: none;
  outline: none !important;
}

.dropinfo-line1 {
  position: absolute;
  top: 16px;
  left: 20px;
}

.dropinfo-line2 {
  position: absolute;
  left: 20px;
  top: 40px;
  height: 30px;
  white-space: nowrap;
  overflow: auto;
  text-align: left;
  scroll-behavior: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.dropinfo-line2::-webkit-scrollbar {
  display: none;
}

.dropinfo-closebutton {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background: white;
  text-align: center;
}

.dropinfo-closebutton:hover {
  font-weight: bold;
}

.dropinfo-cancel {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.dropinfo-progress {
  position: absolute;
  left: 8px;
  width: calc(350px - 16px);
  top: 90px;
}
